*{
    margin: 0;
    padding: 0;
}

body {
height: 100vh;
box-sizing: border-box;
color: #AD5B64;
background: #2a0e2e;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao{
    display: flex;
    align-items: center;
}