@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #2a0e2e;
    --cor-azure: azure;
    --cor-terciaria: #22D4FD;
    --cor-black: #000;
    --cor-pink: #AD5B64;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

body {
/* height: 100vh; */
box-sizing: border-box;
color: var(--cor-pink);
background-color: var(--cor-primaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-azure;)
}

.apresentacao__conteudo__titulo { 
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-azure);
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: var(--font-secundaria);
    color:var(--cor-azure);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family:var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-azure);
}

.apresentacao__links__link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-azure);
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-black);
}

.rodape {
    padding: 24px;
    color: var(--cor-black);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.fotoperfil{
    width: 50%;
    padding: 50px;
    border-radius: 30%;
    
}